[Unit]
Description=Instance to serve the open data api
After=network.target
Requires=postgresql.service

[Service]
Type=simple
User=oklab
Group=www-data
DynamicUser=true

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ODA

WorkingDirectory=/opt/git/open-data-api
PrivateTmp=true

EnvironmentFile=/opt/git/open-data-api/.env
ExecStart=/opt/git/open-data-api/venv/bin/uvicorn \
        --proxy-headers \
        --forwarded-allow-ips='*' \
        --workers=4 \
        --port=6720 \
        app.main:app

ExecReload=/bin/kill -HUP ${MAINPID}
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
