PARCEL_BASE_URL=https://denkmalkarte.oklabflensburg.pluto
PARCEL_BASE_API_URL=https://api.oklabflensburg.pluto

PARCEL_CONTACT_MAIL=mail@example.com
PARCEL_CONTACT_PHONE=""

PARCEL_PRIVACY_CONTACT_PERSON="tbd."

PARCEL_ADDRESS_NAME="OK Lab Flensburg"
PARCEL_ADDRESS_STREET="Am Nordertor"
PARCEL_ADDRESS_HOUSE_NUMBER=2
PARCEL_ADDRESS_POSTAL_CODE=24939
PARCEL_ADDRESS_CITY=Flensburg

DB_PASS={{ db_password }}
DB_HOST={{ db_host }}
DB_USER={{ db_user }}
DB_NAME={{ db_name }}
DB_PORT={{ db_port }}